src/main/resources/bank.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/bank"
           xmlns:tns="http://example.com/bank"
           elementFormDefault="qualified">

    <xs:element name="createAccountRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
                <xs:element name="balance" type="xs:double"/>
                <xs:element name="currency" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createAccountResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAccountRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAccountResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="balance" type="xs:double"/>
                <xs:element name="currency" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--card-->
    <xs:element name="getCardRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cardNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCardResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cardType" type="xs:string"/>
                <xs:element name="expiryDate" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createCardRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cardNumber" type="xs:string"/>
                <xs:element name="cardType" type="xs:string"/>
                <xs:element name="expiryDate" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createCardResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
